body {
    margin:0;
    padding:0;
    background:#f3f5f9;
}
.tabshead {
    background:#222;
}
.tabs { 
    color:#FFF;
    margin-bottom: 0 !important;
}
.tabs button {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 0;
    color: #FFF;
    border-radius: 5px 5px 0px 0px;
}
.tabs button:hover {
    background:#333;
    color:#FFF;
}
.tabs button:focus {
    color:#FFF;
}
.tabs .active {
    background: #444;
}
.tabs button i {
    display: block;
    color: #FFF;
    font-size: 2.5em !important;
}
.tabscontent {
    color:#222;
}
.tabscontent .row {
    margin:0 !important;
}
.tabscontent h1 {
    color: #222;
    font-weight: bold;
    margin: 0;
}
.tabscontent .sub-heading {
    font-size: 1.125em;
    line-height: 1.5em;
    letter-spacing: 1px;    
}
.tabscontent .fields {
    background:#FFF;
    border:1px solid #222;
    padding:3em;
    box-shadow:0 1px 2px 0 rgba(34,36,38,.22);
    border-radius: .25rem;
    border: 1px solid rgba(34,36,38,.22);
}
.tabscontent .fields label {
font-weight: bold;
font-size: 15px;
color: #4F596A;
}
.nextbtn {
    background: #1BBC9B;
    color: #FFF;
    padding: 10px 60px;
}
.nextbtn:hover {
background:#040E1F;
color: #FFF;
}
.nextbtn:hover i {
    color:#82b440;
}
.graybox {
    background: #FBFBFB;
    padding: 12px 6px 4px 15px;
    border-radius: 50px;
    border: 1px solid #eee;
}

.footer{background:#222; padding:30px 0px; color:#fff;}
.footer h4{color:#fff; font-size:20px; position:relative; font-weight:900; margin-bottom:20px; line-height:28px;}
.footer h4:after{position:relative; content:'_______'; line-height:4px; font-size:30px; letter-spacing:-2px; width:100%; display:block; color:#1BBC9B; left:0px; bottom:10px;}
.footer ul{padding-left:14px;}
.footer li{list-style:square; color:#1BBC9B;}
.footer li a{color:#ccc; text-decoration:none;}
.footer li a:hover{color:#fff;}
.footer p { margin-bottom: 10px !important; }
.copy {
    border-top: 1px solid #546781;
    padding-top: 10px;
}
.copy a {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    padding-top: 7px;
    color: #fff;
}

@media only screen and (max-width: 600px) {
  .tabscontent .fields {
      background:none;
      border:none;
      box-shadow:none;
      padding:0;
  }
   .tabscontent {
      background:#FFF;
  }
}
.visible-xs{
    display: none;
}
input[type="text"], input[type="password"] {
    border: 0 !important;
}
.dh-toggle-show-hide-216{
    z-index: 2;
}
.dh-toggle-show-hide-217{
    z-index: 2;
}
.tabshead{
    padding-top: 37px !important;
   }
  .main-content .container{
        width: 100%;
    }
    .dh-listings {

    }

    .dh-listings b {
        font-size: 10px;
    }

    .dh-listings hr {
        border: 1px solid #d0d0d0;
        margin: 0px !important;
    }

    .dh-listings ul {
        font-size: 12px;
    }

    .dh-listings tr td, .dh-listings tr th {
        border: 0px solid #eee;
        border-top: 0px !important;
    }

    .dh-listings {

    }

    .testshortcode {
        display: none;
    }

    .main-content {
        background: #f3f5f9 !important;
    }

    .plan-details, .side-bar {
        position: relative;
        background: #fff;
        -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .22);
        box-shadow: 0 5px 5px 0 rgba(34, 36, 38, .22);
        margin: 1rem 0;
        padding: 1em;
        border-radius: .25rem;
        border: 1px solid rgba(34, 36, 38, .22);
    }

    #dh-get-quote select, #dh-get-quote input {
        height: 51px;
    }

    .form-control {

        border-radius: 5px !important;
    }

    .side-bar {
        position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .22);
    box-shadow: 0 5px 5px 0 rgba(34, 36, 38, .22);
    margin: 1rem 0;
    padding: 1em;
    border-radius: 0.25rem;
    border: 1px solid rgba(34, 36, 38, .22);
 height: 35% !important;
 padding: 24px 0;
    }

    /* .adjust-quoto {
        border-top: 2px solid #ddd;
    } */

    .adjust-quoto h2 {
        color: #464644;
        font-size: 26px;
        font-weight: 400;
    }

    .adjust-quoto h4 {
        color: #8e939c;
        font-size: 22px;
        font-weight: 400;
    }
    .adjust-quoto span {
        font-size: 20px;
        border-radius: 50px !important;
        border: 5px solid #000 !important;
        background: #00c2a2 !important; 
        cursor: pointer !important;
    }
    .quote_reference{
        padding: 10px 15px;
        font-size: 20px;
    }
    #slider{
        margin: 25px 0px;
    }
   .adjust-quoto{
        margin-bottom: 40px;
    }

    

@media only screen and (min-width: 768px) {
    .row.plan-details {
        display: block;
        flex-wrap: wrap;
        align-items: center;
        /*height: 120px;*/
        padding: 20px 10px;
    }
    .main-content, .entry-content, .entry-blog{
        padding: 0px !important;
    }
}



button.buynow-btn {
    float: right;
    min-width: 150px;
    background: #1fbd9d;
    border-radius: 5px;
}

.compare.center.aligned.middle.aligned.column {
    position: relative;
}

.ui.checkbox.large.nopad {
    margin: auto;
    position: relative;
    top: initial;
    left: initial;
    display: table;
}
.ui.checkbox.large.nopad input {
position: relative;
height: 100% !important;
margin: 10px 0;
width: 100% !important;
z-index: 1;
opacity: 0.1;
}


#listprices{
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.ui.checkbox.large.nopad label {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid #c5c5c5;
    padding: 0px;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 5px;
}

.sub.header {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.ui.checkbox.large.nopad input:checked+label:before {
    content: "\f00c";
    font-family: fontAwesome;
    font-size: 26px;
}
sup.superior {
    top: -6px;
    font-size: 13px;
}
@media only screen and (min-width: 768px) {
    .insurance_form{
      padding-right: 0px !important;
      padding-left: 0px !important;
      background-image: none !important;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  
    #bg-insurance-form{
      background-image: none !important;
    }
}


    /* ==========================================================================
   > Responsive
   ========================================================================== */

    @media screen and (min-width: 767px) and (max-width: 991px) {


    }

    @media (max-width: 1024px) {

    }

    @media screen and (max-width: 767px) {
        div#demo {
    display: none;
}
.side-bar {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.ddd.agaya {
    display: block!important;
}
        
        
        
        .row.plan-details {
        display: block;
        }
        .ui.checkbox.large.nopad label{
            padding:11px;
        }

        .hidden-md{
            display: none;
        }
        
        
        button.buynow-btn {
    float: right;
    min-width: 100%;
    background: #1fbd9d;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 100;
}

.ui.center.aligned.header {
    position: relative;
}
.ui.checkbox.large.nopad {
    margin: auto;
    position: relative;
    top: initial;
    left: initial;
    display: table;
    width: 100%;
    height: 50px;
    margin-top: 0;
}
.sub.header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 14px;
}
.mob-img, .gfdgd {
    height: 80px;
}

.ui.checkbox.large.nopad input:checked+label:before {
    display:none;
    font-family: fontAwesome;
    font-size: 26px;
}
.ui.checkbox.large.nopad input:checked+label {
    background: #999;
    color: #fff;
}

    }
    h2.chng_amt.baaababa {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
}
.chng_amt img {
    max-width: 15px;
    vertical-align: middle;
    margin-right: 6px;
}

    #dh-get-quote select{
        height: 51px;
        display: none;
    }
@media screen and (min-width: 768px) {
    h2.chng_amt.baaababa {
    display: none;
}
    }
@media screen and (max-width: 425px) {
.gfdgd h2 {
    font-size: 32px;
}
    }
    @media screen and (max-width: 374px) {
.gfdgd h2 {
    font-size: 26px;
}
button.buynow-btn {
    font-size: 14px;
    padding: 14px 15px;
}
.mob-img, .gfdgd {
    height: 100px;
}
.ui.checkbox.large.nopad label {
    padding: 11px 5px;
}
.one_select .btn-primary{
    padding: 12px 15px;
}
.compare_header_top {
    padding: 15px 15px;
    }
    
    }

@media only screen and (min-width: 768px) {
    .side-bar {
        box-shadow: none !important;
        left: 0 !important;
        bottom: 0 !important;
        top: -5px !important;
        /*min-width: 355px;*/

        /*margin-top: -80px !important;*/
    }
    .right-bar-content{
        min-height: 400px !important;
        float: right !important;
        /*width: 81% !important;*/
    }
}

@media only screen and (max-width: 768px) {
    .side-bar {
        margin: 0 !important;
        box-shadow: none !important;
        top: 0px !important;
        /*margin-top: -80px !important;*/
    }
    .entry-content, .entry-blog, .main-content{
        padding: 0px !important;
    }
}

.submit-btn {
    background: #00c2a2;
    border: none;
    box-shadow: none;
    color: #fff;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform: none;
    width: 100%;
    padding: 10px;

}
.submit-btn:hover {
    background: #262566;
}

.ui-slider-horizontal .ui-slider-range {
    background:#44bc9b!important;
}
.container {
    padding-right: 0 !important;
padding-left: 0 !important;
}
.row .plan-details{
    display: flex;
    border: 1px solid #c0c0c0;
    margin-top: -5px !important;
    margin-bottom: 15px !important;
    padding: 25px 10px;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .22);
    box-shadow: 0 5px 5px 0 rgba(34, 36, 38, .22);
    border-radius: 0.2rem;
}
   .row.plan-details {
    align-items: flex-start;
}